.NavBar {
  display: flex;
  background: transparent;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  background: brown;
}

.titulo{
  text-decoration: none;
  color: white;
}
.Categories {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Option {
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin: 20px;
}

.ActiveOption {
  text-decoration: none;
  color: white;
  border-bottom: solid 1px white;
  margin: 20px;
}


